*{
margin:0;
padding:0;
}
body{
    background-image:url('restaurant bg.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
#nav{
padding:20px 0 30px 0;
animation:slideRight 4s ease forwards;
}
#container{
display:flex;
justify-content:right;
position:fixed;
left:60%;
}
li a{
    font-family:fantasy;
    text-decoration:none;
    padding:8px;
    color:white;
    font-size:large;
    letter-spacing:2px;
    text-shadow:none;
    position:fixed;
    left:90%;
    margin-top:-4px;
}
.home{
    position:fixed;
    left:40%;
}
.menu{
    position:fixed;
    left:50%;
}
.about{
    position:fixed;
    left:60%;
}
.contact{
    position:fixed;
    left:75%;
}
.reserve{
    color:yellow;
    text-shadow:none;
    position:fixed;
    left:90%;
    margin-top:-4px;
    animation:slideTop 1s ease forwards;
}
.reserve:hover{
    text-shadow:0 0 5px yellow,0 0 5px yellow;
}
li a:hover{
text-shadow:4px 4px 2px rgba(0,0,0,0.4),4px 4px 3px rgba(0,0,0,0.4);
z-index:-1;
}
li a:active{
margin:0;
text-shadow: none;
}
#logo{
display:flex;
justify-content:center;
padding-right:90px;
margin-top:0;
filter:drop-shadow(0px 0px 10px #fff);
animation:slideTop 0.8s ease forwards;
}
#name{
padding-top:60px;
word-spacing:10px;
font-family:lucida handwriting;
font-weight:600;
font-size:50px;
background:linear-gradient(to right,yellow,orange,orangered,red);
color:transparent;
background-clip:text;
animation:slideLeft 1.5s ease forwards;
}
#name:hover{
    text-shadow: 0 0 30px yellow,0 0 30px yellow;;
}
#name2{
padding-top:130px;
word-spacing:10px;
font-family:lucida handwriting;
font-weight:600;
font-size:20px;
color:white;
text-shadow: 0 0 30px black;
animation:slideTop 2s ease forwards;
}
#name2:hover{
    text-shadow: 0 0 10px white,0 0 10px white;  
}
#slogan{
word-spacing:10px;
font-family:lucida handwriting;
font-weight:600;
font-size:20px;
background:linear-gradient(to right,pink,#ff007f,red,orangered,orange,yellow);
background-clip:text;
color:transparent;
text-align:center;
margin-top:30px;
margin-bottom:50px;
}
#slogan:hover{
    text-shadow: 0 0 5px yellow;   
}
#welcome{
border-top:1px solid lightgreen;
border-right:1px solid lightgreen;
border-bottom:1px solid aqua;
border-left:1px solid aqua;
padding:30px 0 70px 0;
width:52%;
margin:0 auto;
border-radius:10px;
backdrop-filter:blur(1px);
background-color:rgba(225,225,225,0.1);
}
#welcome:hover{
    background-color:beige;
    box-shadow:0 5px 5px 1px rgba(0,0,0,0.4),0 5px 5px 1px rgba(0,0,0,0.4);
}
#welcome:hover>h2{
    color:navy;
}
div h2{
    text-align:right;
    font-family:georgia;
    font-size:30px;
    font-weight:600;
    text-shadow:0 0 50px black;
    letter-spacing:2px;
    word-spacing:10px;
    text-align:center;
    color:white;
}
/* div h2:hover {
    text-shadow:0 0 10px white;
    color:navy;
    
} */
#explore{
text-align:center;
}
#welcome a:hover{
opacity:1.0;
border:2px solid black;
box-shadow:5px 5px #00db2c,0 5px 5px 5px rgba(0,0,0,0.4);
}
#welcome a:active{
margin:0;
box-shadow:none;
}


#welcome a{
text-decoration:none;
color:white;
padding:13px;
border-radius:5px;
background-color:#00db2c;
word-spacing:5px;
font-weight:600;
position:fixed;
left:40%;
margin-bottom:20px;
margin-top:-4px;
opacity:0.9;
transition:all 0.10s ease-in-out;
}
#menu{
background:linear-gradient(to right,skyblue,aqua,blue,navy);
background-clip:text;
color:transparent;
margin:20px 0 20px 0;
padding:0 0 0 540px;
font-family:georgia;
font-size:30px;
font-weight:700;
}
@keyframes slideRight{
    0%{
        transform:translateX(-100px);
        opacity:0.5;
    }
    100%{
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes slideLeft{
    0%{
        transform:translateX(100px);
        opacity:0;
    }
    100%{
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes slideTop{
    0%{
       transform:translateY(100px);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}